.calculator
  background: white

.panel-body
  padding-top: 20px
  @media (min-width: 544px)
    padding-top: 30px

.mui-select select, input, option
  text-align: center
  text-align-last: center
  padding-right: 2px

button.mui-btn, button.mui-btn:hover
  width: 100%
  margin-bottom: 20px
  margin-top: 0
  height: 50px
  background: #F5F5F5

.mui-panel
  background: #F5F5F5
  color: #424242

.panel-holder
  padding-top: 10px